h1{
  text-align: center;
  color: rgb(255, 127, 127);
}
.sec {
  padding:0 auto;
  top: 20px;

}

img {
  bottom: 20px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
 
}