h1{
  text-align: center;
  color: rgb(255, 127, 127);
}
.sec {
  padding:0 auto;
  top: 20px;

}

img {
  display: block;
  margin: 20px auto;
  width: 90%;
  border-radius: 20px;
 
 
}
.btn {
  display: block;
  margin: 0 auto;
  background-color: white;
  width: 90px;
}